<header>
  <nav
    class="nav-main navbar navbar-expand-sm navbar-toggleable-sm navbar-light"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">PatronusBazar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/registration']">Register</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/shop']">DiagonAlley</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/about-us']">About Us</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/orders']">Orders</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/cart']">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <div class="collection-menu">
    <div class="search-main">
      <input type="text" class="search-input" placeholder="Search..." />
    </div>
    <ul class="menu-categories">
      <li class="menu-item">Collections
          <div class="submenu">
              <ul>
                  <li><a href="#">Collection 1</a></li>
                  <li><a href="#">Collection 2</a></li>
                  <li><a href="#">Collection 3</a></li>
              </ul>
          </div>
      </li>
      <li class="menu-item">Categories
          <div class="submenu">
              <ul>
                  <li><a href="#">Category 1</a></li>
                  <li><a href="#">Category 2</a></li>
                  <li><a href="#">Category 3</a></li>
              </ul>
          </div>
      </li>
      <li class="menu-item">New Arrivals
          <div class="submenu">
              <ul>
                  <li><a href="#">New Arrival 1</a></li>
                  <li><a href="#">New Arrival 2</a></li>
                  <li><a href="#">New Arrival 3</a></li>
              </ul>
          </div>
      </li>
  </ul>
  
    
  </div> -->
</header>
