<!-- product.component.html -->

<!-- <div class="search-filter-container">
  <div class="search-bar">
    <input type="text" placeholder="Search products" [(ngModel)]="searchTerm" (input)="filterProducts()" class="full-width">
  </div>
 
</div> -->


<div class="product-container">
  <div *ngFor="let product of filteredProducts" class="product" (click)="redirectToProductDetail(product.id)">
    <div class="product-wrapper">
      <img [src]="product.thumbnail" alt="{{ product.title }}" class="product-image">
      <div class="product-details">
        <h5>{{ product.title }}</h5>
        <p class="price">${{ product.price }}</p>
      </div>
    </div>
  </div>
</div>

